@import "../bower_components/typographic/scss/typographic.scss";

// Typographic: https://github.com/corysimmons/typographic
$header-font: $calibri;
$header-font-weight: bold;
$body-font: $calibri;
$body-font-weight: normal;
$body-color: #111;
$max-width: 900px;
$min-font: 16px;
@include typographic();

$highlight-color: #02779E;

body {
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    border-bottom: 2px solid $highlight-color;

    h1 {
        display: inline-block;
        margin-right: 2rem;

        color: $highlight-color;
        :link:hover {
            text-decoration: none;
        }
    }

    nav {
        display: inline-block;
        a {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

#main {
    clear: both;
    max-width: $max-width;
}

:link, :visited {
    color: $highlight-color;
}
:link {
    text-decoration: none;
}
:link:hover {
    text-decoration: underline;
}

img.illus {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    @media (max-width: $min-width) {
        display: none;
    }
}
